.theme-picker-item{
    display: flex;
    align-items: center;
}

.theme-picker-item-icon {
    display: inline-block;
    width: 20px;
                                    height: 20px;
                                    border-radius: 50%;
}

.ant-dropdown-button{
    color: white;
    margin-right: 20px;
    /* &:hover{
        color: white;;
    } */
}
.xi-liu{
    padding: 10px;
}

.DraggableTags, .menu-list {
    display: flex;
    flex-wrap: wrap;
}

.tag {
    width: 158px;
    height: 58px;
    display: flex;
    align-items: center;
    border: 1px solid #e8e8e8;
    margin-right: 20px;
    margin-bottom: 16px;
    border-radius: 4px;
    position: relative;
}

.tag.diff {
    width: 300px;
    height: 90px;
}

.tag .tag-icon {
    width: 40px;
    height: 40px;
    margin: 0 16px;
}

.tag .tag-title {
    font-size: 14px;
    font-weight: 700;
    color: #0d1a26;
}

.tag .btn-add, .tag .btn-delete {
    width: 14px;
    height: 14px;
    position: absolute;
    top: -7px;
    right: -7px;
    cursor: pointer;
}

.tag .btn-add {
    background-image: url("/images/liuxi/btn-add.png");
}

.tag .btn-add:hover {
    background-image: url("/images/liuxi/btn-add-active.png");
}

.tag .btn-delete {
    background-image: url("/images/liuxi/btn-delete.png");
}

.tag .btn-delete:hover {
    background-image: url("/images/liuxi/btn-delete-active.png");
}

